.container {
  max-width: 800px;
  margin: 120px auto;
  font-family: Helvetica, Arial, sans-serif;
}

.hidden {
  display: none;
}

body {
  background-color: #799eff;
}
header {
  text-align: center;
  color: white;
  line-height: 1.5;
  font-size: 25px;
  letter-spacing: -4px;
}
form {
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.2);
}
.text-bar {
  padding: 15px;
  border-radius: 16px;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  text-align: center;
  width: 80%;
  line-height: 1.5;
  border: 1px solid #799eff;
  box-shadow: 7px 7px 14px rgba(0, 0, 0, 0.2);
}
#submit-button {
  padding: 15px;
  border-radius: 15px;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  border: none;
  background-color: #799eff;
  font-weight: 300;
}
#submit-button:hover {
  color: #799eff;
  background-color: white;
  transform: scale(1.09, 1);
  transition: all 200ms;
  border: 2px solid #799eff;
}
a {
  color: white;
}
#ai-answer {
  padding: 40px;
  font-size: 16px;
  line-height: 1.5;
  background-color: white;
  border-radius: 10px;
  border-top: 10px solid #fdf5aa;
  font-weight: 100;
  margin-bottom: 30px;
  box-shadow: 15px 10px 20px rgba(0, 0, 0, 0.2);
}

footer {
  text-align: center;
  color: white;
  font-size: 15px;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
